<!-- begin breadcrumb -->
<ol class="breadcrumb float-xl-end">
  <li class="breadcrumb-item"><a href="/home">Inicio</a></li>
 
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header"> Bienvenido</h1>
<!-- end page-header -->

<div class="container-home">
  <div class="title">
    <h1>Inventario</h1>
  </div>

  <!-- Card de usuarios -->
  <div class="container">
    <div class="card" *ngFor="let carta of cartas; let i = index" (mouseenter)="onMouseEnter(i)" (mouseleave)="onMouseLeave(i)">
      <div class="imgPerson">
        <div class="card-img-top" id="card-img-{{i}}" [ngStyle]="{'background-image': 'url(' + carta.profileImage + ')'}"></div>
        <div class="card-body">
          <h2 class="card-title">{{ carta.day }}</h2>
          <p class="card-text">{{ carta.description }}</p>
          <div class="botones">
            <button class="btn btn-primary" (click)="openModal(carta)">
              Ver
            </button>
            <div class="btn btn-primary" (click)="openModal(carta)">Editar</div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>

<!-- Modal para el Menú del Día -->

    <div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="menuModalLabel" aria-hidden="true" #editModal>
     
        <div class="modal-content modal-dialog" *ngIf="selectedCarta">
          <div class="modal-header">
            <h2 class="modal-title" id="menuModalLabel"> {{ selectedCarta.day }}</h2>
            <p class="card-text">{{ selectedCarta.description }}</p>
            <h3>Precio:</h3>
            <h3 class="card-text">{{ selectedCarta.precio }}</h3>
            <div class="d-flex justify-content-between">
            <div>Estado: <span>{{ selectedCarta.estado }}</span></div>
              
            </div>
  
          </div>
          <div class="modal-body">
            <!-- Sopas -->
            <div class="section">
              <h6>Sopas</h6>
              <div class="d-flex justify-content-between">
                <div>Opción 1: <span>{{ selectedCarta.sopa }}</span></div>
                
              </div>
              <div class="d-flex justify-content-between mt-2">
                <div>Opción 2: <span>{{ selectedCarta.sopa2 }}</span></div>
                
              </div>
            </div>
            <hr>
            <!-- Plato Fuerte -->
            <div class="section">
              <h6>Plato Fuerte</h6>
              <div class="d-flex justify-content-between">
                <div>Opción : <span>{{ selectedCarta.platoFuerte }}</span></div>
                
              </div>
              <div class="d-flex justify-content-between mt-2">
                <div>Opción 2: <span>{{ selectedCarta.platoFuerte2 }}</span></div>
                
              </div>
            </div>
            <hr>
            <!-- Jugos -->
            <div class="section">
              <h6>Jugos</h6>
              <div class="d-flex justify-content-between">
                <div>Opción 1: <span>{{ selectedCarta.jugo }}</span></div>
                
              </div>
              <div class="d-flex justify-content-between mt-2">
                <div>Opción 2: <span>{{ selectedCarta.jugo2 }}</span></div>
                
              </div>
            </div>
            <hr>
            <!-- Postres -->
            <div class="section">
              <h6>Postres</h6>
              <div class="d-flex justify-content-between">
                <div>Opción 1: <span>{{ selectedCarta.postre }}</span></div>
                
              </div>
              <div class="d-flex justify-content-between mt-2">
                <div>Opción 2: <span>{{ selectedCarta.postre2 }}</span></div>
                
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Guardar cambios</button>
          </div>
        </div>
      
    </div>

    <div class="modal fade" id="editMenuModal" tabindex="-1" aria-labelledby="editMenuModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="editMenuModalLabel">Editar Menú del Día</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Formulario para Editar Menú -->
            <div class="mb-3">
              <label for="editDay" class="form-label">Día</label>
              <input type="text" class="form-control" id="editDay" [(ngModel)]="selectedCarta.day">
            </div>
    
            <div class="mb-3">
              <label for="editDescription" class="form-label">Descripción</label>
              <textarea class="form-control" id="editDescription" rows="3" [(ngModel)]="selectedCarta.description"></textarea>
            </div>
    
            <div class="mb-3">
              <label for="editPrecio" class="form-label">Precio</label>
              <input type="text" class="form-control" id="editPrecio" [(ngModel)]="selectedCarta.precio">
            </div>
    
            <div class="mb-3">
              <label for="editEstado" class="form-label">Estado</label>
              <select class="form-select" id="editEstado" [(ngModel)]="selectedCarta.estado">
                <option value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
              </select>
            </div>
    
            <hr>
    
            <!-- Editar Sopas -->
            <div class="section">
              <h6>Sopas</h6>
              <div class="mb-3">
                <label for="editSopa1" class="form-label">Opción 1</label>
                <input type="text" class="form-control" id="editSopa1" [(ngModel)]="selectedCarta.sopa">
              </div>
              <div class="mb-3">
                <label for="editSopa2" class="form-label">Opción 2</label>
                <input type="text" class="form-control" id="editSopa2" [(ngModel)]="selectedCarta.sopa2">
              </div>
            </div>
    
            <hr>
    
            <!-- Editar Plato Fuerte -->
            <div class="section">
              <h6>Plato Fuerte</h6>
              <div class="mb-3">
                <label for="editPlatoFuerte" class="form-label">Opción 1</label>
                <input type="text" class="form-control" id="editPlatoFuerte" [(ngModel)]="selectedCarta.platoFuerte">
              </div>
              <div class="mb-3">
                <label for="editPlatoFuerte2" class="form-label">Opción 2</label>
                <input type="text" class="form-control" id="editPlatoFuerte2" [(ngModel)]="selectedCarta.platoFuerte2">
              </div>
            </div>
    
            <hr>
    
            <!-- Editar Jugos -->
            <div class="section">
              <h6>Jugos</h6>
              <div class="mb-3">
                <label for="editJugo1" class="form-label">Opción 1</label>
                <input type="text" class="form-control" id="editJugo1" [(ngModel)]="selectedCarta.jugo">
              </div>
              <div class="mb-3">
                <label for="editJugo2" class="form-label">Opción 2</label>
                <input type="text" class="form-control" id="editJugo2" [(ngModel)]="selectedCarta.jugo2">
              </div>
            </div>
    
            <hr>
    
            <!-- Editar Postres -->
            <div class="section">
              <h6>Postres</h6>
              <div class="mb-3">
                <label for="editPostre1" class="form-label">Opción 1</label>
                <input type="text" class="form-control" id="editPostre1" [(ngModel)]="selectedCarta.postre">
              </div>
              <div class="mb-3">
                <label for="editPostre2" class="form-label">Opción 2</label>
                <input type="text" class="form-control" id="editPostre2" [(ngModel)]="selectedCarta.postre2">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="saveChanges()">Guardar Cambios</button>
          </div>
        </div>
      </div>
    </div>


