<!-- begin breadcrumb -->
<ol class="breadcrumb float-xl-end">
  <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
  <li class="breadcrumb-item"><a href="javascript:;">Library</a></li>
  <li class="breadcrumb-item active"><a href="javascript:;">Data</a></li>
</ol>

<div class="title">
  <h1>Gestión de usuarios</h1>
</div>

<!-- Card de agregar nuevo usuario -->
<div class="container">
  <div class="card">
    <div class="imgPerson">
      <div class="card-img-top"></div> <!-- Imagen vacía o predeterminada -->
      <div class="card-body">
        <h2 class="card-title">Nuevo Proveedor</h2>
        <p class="card-text">Agrega un nuevo proveedor aquí</p>
        <div class="botones">
          <div class="btn btn-primary" (click)="openModal(null)">Agregar</div> <!-- Botón de agregar -->
        </div>
      </div>
    </div>
  </div>

  <!-- Tarjetas de usuarios -->
  <div class="card" *ngFor="let user of users; let i = index" (mouseenter)="onMouseEnter(i)" (mouseleave)="onMouseLeave(i)">
    <div class="imgPerson">
      <div class="card-img-top" id="card-img-{{i}}" [ngStyle]="{'background-image': 'url(' + user.profileImage + ')'}"></div>
      <div class="card-body">
        <h2 class="card-title">{{ user.name }}</h2>
        <p class="card-text">{{ user.description }}</p>
        <div class="botones">
          <div class="btn btn-primary" (click)="openModal(user)">Editar</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de agregar usuario -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true" #addModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Agregar Nuevo Proveedor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="userName">Nombre</label>
          <!-- Vinculación bidireccional para los datos del usuario seleccionado -->
          <input type="text" id="userName" class="form-control" [(ngModel)]="selectedUser.name">
        </div>
        <div class="form-group">
          <label for="userDescription">Descripción</label>
          <textarea id="userDescription" class="form-control" [(ngModel)]="selectedUser.description"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="addUser()">Guardar nuevo usuario</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de edición de usuario -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true" #editModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Editar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="userName">Nombre</label>
          <input type="text" id="userName" class="form-control" [(ngModel)]="selectedUser.name">
        </div>
        <div class="form-group">
          <label for="userDescription">Rol</label>
          <textarea id="userDescription" class="form-control" [(ngModel)]="selectedUser.description"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="updateUser()">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
